/* store.css */

.storer {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  width:100%;
  font-size: 2em;
  align-items: center;
  color:#ffff;
  font-family:'Courier New', Courier, monospace;
  background-color:#333;
  text-align: center;
}


.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album1,
.album2,
.album3,
.album4,
.album5,
.album6 ,button{
  flex-basis: calc(40% - 90px); /* Adjust the width as per your requirement */
  margin: 10px;
  text-align: center;
 
}
.image-container {
  text-align: center;
}

.album:nth-child(odd) {
  order: 1; /* Reverses the order of odd-indexed items */
}

.album img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  height: auto;
}
button{
  
  width:80px;
  height: 40px;
  border-radius: 3px;
  border: none;
  background-color: #13c6f3;;
  color:#fff
  
}
button:hover{
  background: #333;
}

.album h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.album p {
  font-size: 36px;
  gap:2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.album button {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

.album button:hover {
  background-color: #2980b9;
}

.cart-navbar {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color:#ffff;
}

.cart-navbar h3 {
  margin-bottom: 15px;
}

.cart-navbar img {
  display: block;
  margin-bottom: 10px;
}

.cart-navbar p {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-navbar button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}

.cart-navbar button:hover {
  background-color: #c0392b;
}
 /* .Footer {
  width:100%;
  height:100%;
  text-align: center;
  margin-top: 30px;
  background-color: #333;
}  */


.footer {
  width:100%;
  height: 100px;
  text-align: center;
  margin-top: 40px;
  background-color: #333;
  color:white;
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icons{
  color:white;
 
}
.footer h2,a{
  margin: 2rem;

}
.footer-icons,a{
  margin: 2rem;
}
